name: Newman API Tests

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  newman:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install Newman + HTML reporter
        run: |
          npm install -g newman newman-reporter-htmlextra

      - name: Run Postman collection (CLI + HTML report)
        run: |
          mkdir -p newman
          newman run postman/collection.json \
            --reporters cli,htmlextra \
            --reporter-htmlextra-export newman/newman-report.html

      - name: Upload HTML report artifact
        uses: actions/upload-artifact@v4
        with:
          name: newman-html-report
          path: newman/newman-report.html
